<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="C50Ship" value="c50_ships.json" />
		<add key="C75Ship" value="c75_ships.json" />
		<add key="C100Ship" value="c100_ships.json" />
		<add key="C50Cust" value="c50_customers.json" />
		<add key="C75Cust" value="c75_customers.json" />
		<add key="C100Cust" value="c100_customers.json" />
		<add key="PATH" value="C:\Users\binma\source\repos\GasShipping\Datasets\JsonFormat\" />
		<add key="ExcutionTimeInSec" value="" />
	</appSettings>
</configuration>